html {height: 100%;}
body {
    background: white;
    margin: 0;
    color: black;
    height: 100%;
}
body div {overflow: hidden;}
#sections {
    margin-top: 1em
}
#sections > div {
    color: black;
    font-size: 16pt;
    font-family: 'Georgia', sans-serif;
    padding: 1em;
    max-width: 800px;
    border-radius: 1em;
    margin: 0 auto;
}
#sections h2, #sections h3 {
    margin-top: 0;
    text-align: center;
    font-style: italic;
}
#sections h2 {font-size: 120%;}
#sections h3 {font-size: 100%; font-weight: normal;}
#sections p {margin: 0.5em 0;}
#sections p + p {text-indent: 1em;}
img.photo {
    float: right;
    max-width: 50%;
    margin: 0 0.5em;
}
.half {float: left; width: 50%;}
.third {float: left; width: 33%;}
#sections dd {
    font-size: 80%;
    margin-bottom: 0.5em;
}
#sections dt {margin-bottom: 0.2em;}
#sections dd + dt {margin-top: 1em;}
#header {
    color: white;
    font-family: 'Bitter';
    font-size: 24pt;
    text-shadow: 2px 2px 2px black;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 2px #333;
}
#header a {
    color: white;
    text-decoration: none;
    border-bottom: 2px dotted white;
    text-align: center;
}
#header a:hover, #header a.active {
    border-bottom: 3px solid;
}
#header #name {
    cursor: pointer;
    margin-left: 50px;
    display: inline;
    position: relative;
    font-size: 72pt; text-shadow: 5px 5px 5px black;
}
#header #name span {
    position: relative;
}
#header #tagline {
    margin: 0 0 0 50px;
    clear: both;
}
#header #nav li {
    display: inline;
    padding-left: 30px;
    list-style-type: none;
    text-shadow: 4px 4px 4px black;
}
#header #caption {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    font-family: 'Georgia', sans-serif;
    font-weight: normal;
    font-size: 12pt;
    z-index: 3;
}
#header #refresh {
    position: absolute; bottom: 1em; right: 1em;
    cursor: pointer;
    z-index: 4;
}

#sections #contact {font-size: 20pt; text-align: center;}
#sections #contact .fa {font-size: 100%; margin-right: 0.5em;}
#sections #contact .fa-external-link {display: none;}
#sections #contact li {list-style-type: none; margin-bottom: 1em;}

.fa {text-indent: 0; font-size: 70%;}
#nav .fa {margin-right: 0.5em;}

#ruler {text-align: center; clear: both;}
#books {clear: both;}
#books h3 {margin-bottom: -1em; padding-top: 1em;}
#books .book + h3 {padding-top: 2em;}
#books .book {padding-top: 0.5em; margin-top: 0.5em; min-height: 4em; overflow: auto; text-align: center;}
#books .book + .book {border-top: 1px #ccc dotted;}
#sections #books p {text-indent: 0;}
#books .rating {font-size: 100%; margin: 0 1em;}
#books .finished {font-size: 80%;}
#books .done, #books .left {border: 1px black solid; display: inline-block; height: 0.5em;}
#books .done {background-color: #1240ab; margin-left: 1em; border-radius: 5px 0 0 5px;}
#books .left {margin-right: 0.5em; border-radius: 0 5px 5px 0;}

#nav {display: inline;}
@media only screen and (max-width : 1200px) {
    #nav:before {content: '\A'; white-space: pre;}
    #header #tagline {margin-top: 1em;}
}
